#root {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h2{
  color: orange;
}

.nav {
  background-color: rgb(3, 135, 243);
  display: flex;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav img {
  height: 50px;
  width: auto;
  padding: 10px;
}

.main-view {
  display:flex;
  min-height: 500px;
}

.sidebar {
  width: 15%;
  /* border-right: 1px solid rgb(3, 135, 243); */
  /* border-image: 
    linear-gradient(
      to bottom, 
      rgb(3, 135, 243), 
      rgba(0, 0, 0, 0)
    ) 1 100%; */
}

button {
  border: 0;
  width: 100%;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
}

button a{
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}


a.active {
  color: orange;
}

hr {
  margin-top: 15px;
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
 
}

.products {
  width: 85%;
}

.item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pale-background {
  background-color: rgb(63, 63, 63);
}
.item-container img{
  width: 100px;
  height: 100px;
}

.item-container button {
  background-color: black;
  color: white;
  border: white 2px solid;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin: 0 10px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: rgb(105, 105, 105);
  }
  &:active {
    transform: scale(.95);
  }
}

.add-product, .edit-product{
  width: 85%;
  margin-top: 20px;
}

.product-details{
  margin: 0 auto;
}

.product-details img{
  width: 200px;
  height: 200px;
}

#not-found {
  width: 80%;
}

#about {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
}

.person {
  margin-top: 10px;
}
.edit-form {
  margin: auto auto;
  margin-top: 10px;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 30px;
  background-color: rgb(0, 0, 43);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper{
  display: flex;
}

.labels{
  display:flex;
  flex-direction: column;
  font-size: 13.3333px;
  font-family: Arial;
}

.inputs{
  display: flex;
  flex-direction: column;
}
.edit-form input, select, label {
  height: 25px;
  width: 180px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  text-indent: 5px;
  padding: 1px 2px;
  vertical-align: middle;
}
.edit-form h4 {
  margin: 5px 0;
}
.edit-form button, .back-btn {
  height: 40px;
  width: 180px;
  margin: 10px auto;
  border-radius: 10px;
  border: white 2px solid;
  color: white;
  background-color: black;
  cursor: pointer;
  &:hover {
    background-color: rgb(104, 104, 104);
  }
  &:active {
    transform: scale(.95);
  }

}
