#root {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.nav {
  background-color: rgb(3, 135, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav img {
  height: 50px;
  width: auto;
  padding: 10px;
}

.main-view {
  display:flex;
  min-height: 500px;
}

.sidebar {
  width: 15%;
  border: 1px solid white;
}

a.active {
  color: orange;
}

.footer {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 135, 243);
  height: 100px;
 
}

.products {
  width: 85%;
  border: 1px solid white;
}

.item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pale-background {
  background-color: rgb(63, 63, 63);
}
.item-container img{
  width: 100px;
  height: 100px;
}

.item-container button {
  background-color: black;
  color: white;
  border: white 2px solid;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
  &:hover {
    background-color: rgb(105, 105, 105);
  }
  &:active {
    transform: scale(.95);
  }
}

.add-product{
  width: 85%;
  border: 1px solid white;
}

.product-details{
  margin: 0 auto;
}

.product-details img{
  width: 200px;
  height: 200px;
}

#not-found {
  width: 80%;
  border: 1px solid white;
}

#about {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid white;
}

.person {
  margin-top: 10px;
}
.edit-form {
  margin: auto auto;
  margin-top: 10px;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 30px;
  background-color: rgb(0, 0, 43);
}
.edit-form input {
  height: 25px;
  width: 180px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  text-indent: 5px;
}
.edit-form h4 {
  margin: 5px 0;
}
.edit-form button {
  height: 40px;
  width: 180px;
  margin-top: 10px;
  border-radius: 10px;
  border: white 2px solid;
  color: white;
  background-color: black;
  cursor: pointer;
  &:hover {
    background-color: rgb(104, 104, 104);
  }
  &:active {
    transform: scale(.95);
  }

}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
